<?xml version="1.0" encoding="UTF-8"?>
<plugin
		xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="test-plugin"
		version="1.0.0">

	<name>test plugin</name>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

</plugin>
